.toDeleteOnPc {
  display: none;
}



.appArticle {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/** PlayStore Buttom*/

.leftApp { 
  width: 250px;
}

    .nothingBox {
      height: calc(9.5em + (1em + 1vw));
      background-color: transparent;
      width: 100%;
    }
    .linkApp {
     display: flex;
     flex-direction: column;
     background-color:transparent;
     padding: 1em;
     border-radius: .75em;
    }


  .linkApp > h4 {
    text-align: center;
    width: 100%;
    color: #d0d1d5;
    font-size: calc(1em + 1vw);
  }

  .linkApp > img {
    width: 100%;
  }

  .dawdw a {
    transition: all .15s ease-in-out;
   
  }
   .dawdw a img:first-child {
    border-radius: .5em .5em 0 0;
   }

  .dawdw a:hover {
    transition: all .15s ease-in-out;
    transform: translateY(-.75em);
    filter: invert(.014);
  }
  
  /** Img Right*/

  .rightApp {

  }
    .rightApp > h2 {
      color: wheat;
      text-align: center;
      font-family: eo;
      color: var(--text-violet);
      font-size: calc(2em + 2vw);
      user-select: none;
      margin-bottom: 0.25em;
    }

    .rightApp > img {
      width: 100%;
      border-radius: .75em;
    }

    @media screen and (max-width: 800px) {


      .toDeleteOnPc {
        display: block;
      }
      
       
      .nothingBox,
      .toDeleteOnMobile
       {
        display: none;
      }
      
      .appArticle{
        max-height: 500vh;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        gap:.5em;
        align-items: flex-start;
      }

      .rightApp {
        width: 100%;
      }
       .rightApp > img {
        width: 90%;
        margin-left: 5%;
       }
      
    }
