.codeArticle {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}


.codeText{
    text-align: center;
    font-family: eo;
    color: var(--text-violet);
    font-size: calc(2em + 2vw);
    text-align: center;
    user-select: none;
    margin-bottom: 0.25em;
    width: 60%;

}



.pre , .pre-class {
    height: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
    .pre::-webkit-scrollbar , .pre-class::-webkit-scrollbar {
        width:.65em;
        background-color: rgba(228, 216, 216, 0.171);
    }

    .pre::-webkit-scrollbar-track , .pre-class::-webkit-scrollbar-track {
        background-color: rgba(22, 22, 22, 0.801);
        border-radius: 0;
    }

    .pre::-webkit-scrollbar-thumb , .pre-class::-webkit-scrollbar-thumb {
        background-image:none;
        background-color: rgba(255, 255, 255, 0.411);
        border-radius: 0.25em;
    }
    

    .hrCode {
        margin-left: 35px;
        margin-top: 1em;
        width: 60%;
        border-style: solid;
        height: 2px;
        border-color: rgb(155, 209, 219);
    }

    /*! MOBILE*/
    @media screen and (max-width:800px) {
        codeArticle {
            height: 150vh;
        }
    }

    /*? Segunda Parte*/

    .code-wifi {
        height: 100vh;
        background-color: #0000;
    }

    .code-wifi > .pre-class {

    }

        .pre-class > .code-class {

        }