@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.easterEgg { width: 5em; height: 5em;
    /** <---------------------------------->*/
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  border: none;
  border-radius: 5em;
  /*? <---------------------------------->*/
  cursor: pointer;
  background-color: rgba(240, 229, 229, 0.911);
  transition: 0.2s ease;
  
}

.easterEgg:hover {
  background-color: rgb(226, 158, 215);
}

.egg {
  width: 90%;
}

.eggI {
  font-size: 3.25em;
  color: blueviolet;
}

.eggDiv { width: auto; height:60px;
    /** <---------------------------------->*/
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items:center;
  top: 3.25%;
  right: 2.5%;
  right:calc(2.5% + 75px);
  border-radius: 0.25em;
  gap: 1em;
    /*? <---------------------------------->*/
  background-color: rgba(22, 20, 20, 0.322);
  transition: all .25s  ease-in-out;
  
  transform: translateX(25px);
  
  
}
.eggDiv.active {
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-out-in;
  transform: translateX(-25px);
}

.eggLi {  height: 90%;
    /** <---------------------------------->*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /*? <---------------------------------->*/
    background-color: rgba(68, 29, 80, 0.384);
    transition: transform .15s ease;
}

.eggInBtn { height: 100%; width: 50px;
    /** <---------------------------------->*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /*? <---------------------------------->*/
  cursor: pointer;
  transition: border-bottom .05s ease;
  background-color: transparent;
}

.eggInBtn:hover {
  border-bottom: solid 2px white;
}

.eggLi:hover {
  transform: translateY(5px);
}

.eggImg {
    /*? <---------------------------------->*/
  transition: .5s ease;
  background-color: transparent;
  width: 2.5em;
}


@media screen and (max-width:800px)  {
    .easterEgg:hover {
      background-color: rgba(240, 229, 229, 0.911);
    }
}