:root {

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.schematicArticle{
    display: flex;
    padding: 0 35px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    flex-direction: column;
  }
  .nisequecarajoponerleaestamrd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .schTitle {
    
    font-family: eo;
    color: var(--text-violet);
    font-size: calc(2em + 2vw);
    text-align: center;
    user-select: none;
  }

  .schCosito {  /*Sch HR*/
    border-color: rgb(233 85 85);
    border-style: solid;
    width: 100%;
    margin-bottom: 1em;
  } 

  .wrapper{
    display: flex;
    max-width: 1200px;
  
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carrousel {
    max-height: 800px;
  }
  .carousel img{
    background-color: #282936FF;
    height: 450px;
    object-fit:contain;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    border-bottom: solid 1px rgba(255, 255, 255, 0.46);
    border-top: solid 1px rgba(255, 255, 255, 0.46);
    
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 1300px) {
    .carousel img{
      width: calc(100% / 2);
      
    }
  }
  @media screen and (max-width: 700px) {
    .carousel img{
      width: 100%;
    }
  }
  
