/*SECCIÓN DE ANIMACIÓN DE RAYAS //HEADER*/
:root {
    --violeta:rgb(255,72,252);
    --celeste:rgb(115,238,246);
    --middle:rgb(115, 189, 246);
}
.span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent,var(--celeste));        /*Animación Rayita de mrd superior*/
    animation-name:span1;
    animation-duration:1s;
    animation-iteration-count: infinite;
 }
@keyframes span1 {
    0% {
        left: -100%;
        background: linear-gradient(90deg, transparent,var(--celeste) , var(--violeta))
    }
    100% 
    {
        left: 100%;
        background: linear-gradient(90deg, transparent,var(--celeste) , var(--violeta))
    }

  
}
/*FIN RAYA 1*/
.span2{
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--celeste));
    animation-name: span2;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
}
@keyframes span2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}
/*FIN RAYA 2*/
.span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent,var(--violeta));
    animation-name: span3;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-delay:0.5s;
    border-radius: 2px;
}

@keyframes span3 {
    0% {
        right: -100%;
        background: linear-gradient(90deg, transparent,var(--violeta) , var(--celeste))
    }
    100% 
    {
        right: 100%;
        background: linear-gradient(90deg, transparent,var(--violeta) , var(--celeste))
    }

}
/*FIN RAYA 3*/
.span4{
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--violeta));
    animation-name: span4;
    animation-duration:.8s;
    animation-iteration-count: infinite;
    animation-delay:0s;
}
@keyframes span4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    } 
}
/* *FIN ANIMACIÓN HEADER*/
/* ? Mobile Adaptation*/

@media screen and (max-width:800px){
    .span1,
    .span4,
    .span2
    {
        display: none;
    }
    .span3 {    /*Barra Derecha*/
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 4px;
        background: linear-gradient(270deg, transparent,var(--violeta));
        animation: span3 3s ease-in 1 ;
        animation-delay: 1.5s;

    }
    @keyframes span3 {
        0% {
            left: -100%;
            background: linear-gradient(90deg,var(--violeta) , var(--celeste))
        }
        10% 
        {
            left: 0%;
            background: linear-gradient(90deg,var(--violeta) , var(--celeste))
        }
        90%
        {
            left: 0%;
            background: linear-gradient(90deg,var(--violeta) , var(--celeste))
        }

        100% {
            left: -100%;
            background: linear-gradient(90deg, var(--violeta) , var(--celeste))
        }
    }
}