@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari&display=swap');
@font-face {
    font-family: Manzana;
    src: url(fonts/neo_robotix/Neo\ Robotix.otf),
    url(fonts/neo_robotix/Neo\ Robotix.ttf),
    url(fonts/neo_robotix/Neo\ Robotix\ Italic.otf)
    url(fonts/neo_robotix/Neo\ Robotix\ Italic.ttf);
            }


            @font-face {
                font-family: lol;
                src: url(fonts/gerhaus/Gerhaus.ttf);
            }

            @font-face {
                font-family: eo;
                src: url(fonts/modern_age/Modern\ Age.otf),
                url(fonts/modern_age/Modern\ Age.ttf);
,            }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(img/neon_nights.jpg);
    background-position: center center;
    /*Fondo Principal*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    /*Estructuración de imagen*/
    align-items: center;
    flex-direction: column;
    display: flex;
    user-select: none;
    transition: all 3s;
}

h1 {
    color: #000000;
    box-shadow: springgreen 2px;
    background-color: white;
    font-family: impact;
    font-weight: 250;
    letter-spacing: 2px;
    padding: 0 0.2em 0 0.2em;
}

.principalIcon {
    margin-top: 5em;
    width: 7em;
    height: 7em;
}

.robotitoText {
    color: #ffffff;
}

main {
    display: flex;
    /*Estructuración de las 2 partes (15/85)*/
}

nav {
    display: flex;
    flex-direction: column;
    border-right: solid 0.1em rgba(255, 255, 255, 0.3);
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0.3em;
}

.mainBoxNav {
    width: 20%;
}

.mainBoxSection {
    width: 80%;
}

.mainBoxNav,
.mainBoxSection {
    
    background-image: url(img/jojos.jpg);
    background-position: center center;
    /*Fondo Principal*/
    background-repeat: no-repeat;
    background-size: cover;
}

.title,
.mainBoxSection p {
    text-align: center;
    color: rgb(79, 241, 255);
    width: 100%;
    user-select: none;
}

.boxLol {

    width:60%;
    display: flex;
    margin: auto;
   
}

.title {
    padding: 1.1em 0 1.1em;
    font-size: 2.8em;
    color: rgb(255, 72, 252);
    font-family: eo;
    font-weight: bold;
}

.virguililla {
    margin: 0 2.5% 0 2.5%;
}



.mainBoxSection p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8em;
    letter-spacing: 2px;
    margin: 0.3em 0.3em 2em 0.3em;
    text-align: center;
}
.boxLol {
    background-color: #5650518e;
    padding: 0.4em;
    padding-top: ;
    border-radius:20px ;
}


.shopList {
    width: 20%;
    border: solid 2px ;
    background-color: black;
   
}

.shopList h3 {
    margin: 0.5em 0 .5em 0;
    color: rgb(206, 59, 204);
    font-weight: 900;
    font-size: 1.7em;
    text-align: center;
    
}

.ulShop {
    margin: 0.5em 0 0.5em 0;  
}

.liComponentShop {
    margin: 0.5em 0 0.5em 0;
    color: rgb(79, 241, 255);
    font-size: 1.25em;   
}



.listIcon {
    width: 2.5em;
    margin-right: 7.5%;
    margin-left:5%;
}

.boxList {
    height: 100vh; 
    padding: 10% 0 10% 0; 
    display: flex;
    align-items: center;
    background-color: #000000;  
}

.boxList li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin:5% 0 5% 0;
}

.boxList li a {
    color:white;
    font-size: 1.5em;
    padding:5%;
    width: 60%;
    transition: all .25s;
}

.boxList li a:hover {
    color: #000000;
    background-color: #ffffff;
    border-radius: 15% 15% 5% 5%;
}
.listOne {
    border-bottom:inset 1px rgb(79, 241, 255);
}
.mainArticlePresentate{
    height: 100vh;
}

.pcbArticle {
    height: 100vh;
    background-color: rgb(18, 62, 47);
}





/*
.scroll {
    margin: auto;
    margin-top: 2em;
    height: 700px;
    width: 700px;
    border: 1px solid white;
    overflow: auto;
}

code {
    color: #ffffff;
}