:root {
    --background:rgb(0, 0, 0);  
    --text-blue:rgb(79, 241, 255);
    --text-violet:rgb(255, 72, 252);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari&display=swap');
@font-face {
    font-family: Manzana;
    src: url(fonts/neo_robotix/Neo\ Robotix.otf),
    url(fonts/neo_robotix/Neo\ Robotix.ttf),
    url(fonts/neo_robotix/Neo\ Robotix\ Italic.otf)
    url(fonts/neo_robotix/Neo\ Robotix\ Italic.ttf);
            }

       
            @font-face {
                font-family: eo;
                src: url(fonts/modern_age/Modern\ Age.otf),
                url(fonts/modern_age/Modern\ Age.ttf);
            }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Valores por Defecto*/
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--background)
}   
    /* *Estructuración Primer Viewport*/

header {
    background-image: url(img/neon_nights.jpg);
    background-position: center center;
    /*Fondo Principal*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    /*Estructuración de imagen*/
    align-items: center;
    flex-direction: column;
    display: flex;
    user-select: none;
    transition: all 3s;   
}

h1 {  /* *Robot Futbolista //Title Style */
    color:#c33b9a;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    box-shadow: springgreen 2px;
    background-color:transparent;
    font-family: impact;
    font-weight: 250;
    letter-spacing: 2px;
    padding: 0 0.2em 0 0.2em;
    position: relative;
    overflow: hidden;
    font-size: calc(1em + 2vw) ;
}

h1 span {  /* Animation Estructure */
    position: absolute;
    display: block;
}


.principalIcon {
    margin-top: 5em;
    width: calc(7em + 5vw);
    height:calc(7em + 5vw);
    /*Icon 1er Viewport //Robotito*/
}

.robotitoText {
    color: #ffffff;
    letter-spacing: 2px;
    font-style: italic;
}

main {
    display: flex;
    /* 
    *Estructuración Base del contenido
    TODO: To edite for mobile           
    */
}

/* *Inicio del Scroll*/

::-webkit-scrollbar {   /*Scroll*/
    width:1vw;   

}

::-webkit-scrollbar-track { /*Fondo de Scroll*/
   background-color: black;
   border-radius: 4em;
}

::-webkit-scrollbar-thumb { /*Scroll en si mismo*/
    border-radius:4em;
    border-right:2px black;
    animation-duration:10s;
    animation-iteration-count: infinite; background-image:linear-gradient(to bottom, rgb(255, 72, 252) 0% , rgb(79, 241, 255) 100% ) ;
}
    /* *Fin del Scroll */
    /* *Nav Estructure */

.barButtom {
    position: absolute;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    border: none;
    width: 5em;
    height: 5em;
    background-color: transparent;
    display: none;
    z-index: 100;
}
    
.barImg {
    height: 5em;
    width: 5em;
    
}

.mainBoxNav { 
    display: flex;
    flex-direction: column;
    border-right: solid 0.1em rgba(255, 255, 255, 0.3);
    /*Side Bar Estructure*/
}

.boxList {
    display: flex;
    flex-direction: column;
}

.mainBoxNav {           /*Porcentaje Horizontal Utilizado 20/80*/
    width: 20%;
}
                        /*Ambos Valores conforman un 100% ( Son iguales a 0 ) */
.mainBoxSection {
    width: 100%;        /*Porcentaje Horizontal Utilizado 80/20*/
}


.mainBoxNav,
.mainBoxSection {  
    background-image: url(img/jojos.jpg);
    background-position: center center;
    /*Fondo Principal*/                     /*Fondo de Jojo's*/
    background-repeat: no-repeat;
    background-size: cover;
}

.mainArticlePresentate {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title,
.mainArticlePresentate p {
    text-align: center;
    color: rgb(79, 241, 255);
    width: 100%;
    user-select: none;
}
.contentBox {
    display: flex;
    width: 80%;    width: 80%;
    min-height: 250px;
    display: flex;
    background-color: #3b303e8e;
    padding: 0.4em;
    border-radius:20px ;
}
.lineaDelete,
.robotImgTablet,
.liRobot1,
.liRobot1 a
  {
    display: none;
    margin: 0;
}
.boxList .liRobot1 {
    display: none;
}
.hrOne,
.hrTwo {
    position: relative;
    border-radius: 50% 50% 50% 50%;
    opacity: 1;
    border-color:rgb(180 72 255);
    border-style: solid;
    margin:.25em;
    border-width: 2.5px;
    box-shadow: 0.25px 0.25px rgb(171, 3, 3);
}
.hrOne {
    margin-right: 0.75em;
}
.hrTwo {
    margin-left:0.75em;
}

.contentBox p {
    text-align:center;
    display: flex;
    align-items: safe;
    font-size: calc(1em + 2.4vw);
}

.title {  /* Messinaldo && Cristionel //Style */
    padding: 1.1em 0 1.1em;
    font-size: calc(1.4em + 2.4vw);
    color: rgb(255, 72, 252);
    font-family: eo;
    font-weight: bold;
}

.virguililla { /*Simbolo raro*/
    margin: 0 2.5% 0 2.5%; 
}
/* *Inicio de la Estructuración del Nav*/

.boxList {  /* ?Nav Box Estructure*/
    height: 100vh; 
    padding: 10% 0 10% 0; 
    display: flex;
    align-items: center;
    background-color: #000000;  
}

.boxList li {   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin:5% 0 5% 0;
}

.boxList li .V0,
.boxList li .V1,
.boxList li .V2,
.boxList li .V3,
.boxList li .V4,
.boxList li .V5 {
    color:white;
    font-size: calc(0.5em + 1.3vw);
    padding:5%;
    width: 80%;
    transition: all .25s;
    text-align: center;
    text-decoration: none;
    margin: 0.3em;
}

.boxList li .V0:hover,
.boxList li .V1:hover,
.boxList li .V2:hover,
.boxList li .V3:hover,
.boxList li .V4:hover,
.boxList li .V5:hover {
    color: #ffffff;
    background-color: #ffffff1f;
    border-radius: 5px 5px 0 0;
}

.listIcon {
    width: calc(1.5em + 2vw);
    margin-right: 7.5%;
    margin-left:10%;
}

/* *Final del Nav */
/* TODO: To edite for mobile after*/

.mainArticlePresentate {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pcbArticle {
    height: 100vh;
    background-color: var(--background);
}

.V0.True,
.V1.True,
.V2.True,
.V3.True,
.V4.True,
.V5.True {
    border-bottom:inset 1px rgb(79, 241, 255);
    /* TODO: A Manipular con JavaScript*/    
}

.boxList {
    position: sticky;
    width: 100%;
    top: 0px;
}


/* *Start of the Schematic Article*/


/* *End of the Schematic Article*/
/* *Start of the Code Article*/

    /* ?Tablet Adaptation*/
    /* *Start Nav*/

@media screen and (max-width:1100px){
    .boxList li .V0,
    .boxList li .V1, 
    .boxList li .V2,
    .boxList li .V3,
    .boxList li .V4,
    .boxList li .V5 {
        display: none;
    }

            /* *Estableciendo Valores por defecto / Eliminando */

    .robotImgTablet,
    .liRobot1 a,
    ul .liRobot1 {
        display: block;
    }

    .boxList .liRobot1 {
        display: block;
        margin-bottom: 30%; /*Separación del Robotito al resto de list icons*/
    }

    .mainBoxNav {
        width: 10%; /*Tamaño Nav Side*/
    }

    .boxList li {
        margin: 15% 0 15% 0;    /*Margenes de elemento Li*/
    }
    .robotImgTablet {               /*a del robot*/
        width:100%;
        padding:5%;
    }          
    
            /* *Icons Customization*/

    .listIcon {
        width: 55%;
        margin: 0;
        padding: 5% 0 5% 0;
    }

    .aTablet {
        width:100%;
        border-radius: 0.5em;
        margin: 0 5% 0 5%;
        display: flex;
        justify-content: center;
    }
    
    .aTablet:hover {
        background-color: rgba(57, 52, 52, 0.557);
    }

            /* *Nav End*/
}

/*? MOBILE ADAPTATION*/
@media screen and (max-width:800px) {

    .mainBoxNav, .mainBoxSection {
        background-image: none;
    }
    .boxList,
    .and,
    .mainBoxNav,
    .virguililla {
        display: none;  /*Eliminación del Nav*/
    }

    .mainArticlePresentate {
        max-height: 500vh;
        height: auto;
        margin-bottom: 1em;
    }
    
    .mainBoxSection {
        width: 100%;    /*Uso completo de la Pagina Web*/
    }

    .lineaDelete {
        display: block;
        width: 25%;
        margin-left: 37.5%;
        
        border-color: #c33b9a;
        border: 1px;
    }

    .lineaDelete hr {
        border-color:rgb(233 85 85);
        border-style: solid;
    }

            /* *Rest */
            
    .imgBox img {
        width: 80%;
    }
            /* *Header Customization*/
    h1 {
        letter-spacing: 3px;
        color: #c33b9a;
        font-size: 2.75em;
        background-color: transparent;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
    .title {
        font-size: 3em;
        padding:0.5em 0;
    }
    .barButtom {
        
    }
    .contentBox {
        padding: 10px;
            width: 95%;
    }

    .cosito {
        margin-bottom: 2em;
        border: solid 2px white;
        border-radius: 1px;

        width: 80%;
        opacity: .3;
    }

    .contentBox p {
        font-size:calc(1.25em + 1vw) ;
    }
     
    
}

